.info {
	display: inline-block;
	justify-content: space-evenly;
	color: $color-white;
	width: 80%;

	> section{
		margin-bottom: 40px;
	}

	h3{
		font-size: 24px;
	}

	hr {
		margin:10px 0;
		width: 90%;
	}

	p {
		line-height: 1.5rem;
	}
}

.info-comments-board {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		height: 0vh;
		background-color: rgba($color: $color-white, $alpha: 0.2);
		border-radius: 10px;

		> hr {
			width: 90%;
			margin: 0;
		}

	&__input, &__message {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
    align-items: center;
		width: 80%;
		padding: 20px;
		margin: 0;

		button {
			width: 80px;
			height: 40px;
			background: gray;
			border-radius: 20px;
			color: $color-white;
			border: none;
			box-shadow: 1px 2px 5px #474747;
		}
	}

	&__input {
		&__text {
			margin-left: 20px;

			h4 {
				font-size: 20px;
				margin-bottom: 10px;
			}

			input {
				width: 300px;
				height: 50px;
				padding: 10px;
				// background: none;
				border:1px solid #474747;
				cursor: text;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
		}

		&__submit {
			margin-left: 20px;
		}
	}

	&__message {
		&__text {
			margin-left: 20px;

			h4 {
				font-size: 20px;
				margin-bottom: 10px;
			}

			p {
				width: 300px;
				height: 50px;
			}
		}
	}
}
