.main {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 40px;
}

.main-cover {
	display: flex;
	align-items: center;
	position: relative;
	height: 280px;
	width: 280px;

	&__pic1 {
		position: relative;
		left: 0;
		top: 0;
		z-index: 1;
		filter: blur(5px);
	}

	&__pic2 {
		position: absolute;
		left: 20px;
		top: 40px;
		z-index: 2;
	}
}

.main-text{
	color: $color-white;
	width: 300px;
	min-height: 200px;
	justify-content: space-between;

	h1 {
		font-weight: bold;
		font-size: 40px;
		padding-bottom: 5px;
	}

	h2 {
		font-size: 28px;
		padding-bottom: 20px;
	}

	a {
		display: block;
		margin-bottom: 50px;
	}

	p{
		font-size: x-large;

		img{
			padding-right: 5px;
		}
	}
}

.main-active {
	width: 380px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__btn {
		display: flex;
		align-items: flex-start;

		li {
			margin-right: 20px;
		}
	}

	&__cart {
		align-self:flex-end;
		color: $color-white;
		font-size: x-large;

		li{
			display: inline-block;
			flex-direction: column;

			button{
				width: 150px;
				border-radius: 75px;
				font-size: large;
				color: $color-white;
				background-color: #959595;
			}
		}
	}
}
