.info {
	display: inline-block;
	justify-content: space-evenly;
	color: $color-white;
	width: 80%;

	> section{
		margin-bottom: 40px;
	}

	h3{
		font-size: 24px;
	}

	hr {
		margin:10px 0;
		width: 90%;
	}

	p {
		line-height: 1.5rem;
	}
}

.info-comments {

	&__area {
		display: flex;
		align-items: center;
		justify-self: center;
		flex-direction: row;
		width: 90%;
		margin-top: 20px;

		&__btn {
			margin: auto;
			width: 80px;
			height: 30px;
			background: #808080;
			border-radius: 10px;
			color: white;
		}
	}

	textarea {
		resize: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
    align-items: center;
		width: 60%;
		padding: 20px;
		margin: auto;
		margin-bottom: 20px;
		background: none;
		border: none;
		border-radius: 10px;
		color: white;
		font-size: large;
	}

	ul {
		display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    margin-left: 6%;
    margin-top: 20px auto;
    width: 80%;
		flex-direction: column-reverse;
	}

	li {
		background-color: rgba(#ffffff, 0.2);
		border: 1px solid white;
		width: 100%;
    height: auto;
    line-height: 30px;
    border-radius: 10px;
    padding: 10px;
		margin: 4px;
	}
}
